* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
}

.example-main-wrapper {
    padding: 40px;
}

.example-header {
    color: #424242;
}

.example-spot {
    cursor: pointer;
    width: 15%;
    float: left;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 5px #FCFCFC;
    margin-right: 40px;
    min-height: 80px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 720px) {
    .main-wrapper {
        padding: 20px;
    }
}